*{
    font-family: 微软雅黑;
}
a{
    color:#fff;
}
a:hover,a:focus{
    color:#fff;
    text-decoration: none;
}


/*页面八*/

#header{background-color: #00AE66;
}
#header>div>div{background-color:#00AE66;color:#fff;padding: 13px 0;
}
#header>div>div:hover{cursor: pointer;
}
#header>div>a>img{margin: 17px 0;
}
#header>div>a>ul{margin: 5px 5px;
}



div#two_row>img{width: 100%;}
#pic{border-top: 1px solid #ebebeb;border-top: 1px solid #ebebeb;
	background-color: #f9f9f9;
}
#pic>div>div{padding: 18px 5px 0 0;}
#pic>div>div:nth-child(2){border-left: 1px solid #dcdcdc;}




#introduce{border-bottom: 1px solid #dcdcdc;}
#introduce>div{margin: 10px 0;border-right: 1px solid #dcdcdc; }
#introduce>div:list-child{border-right: none;}
#introduce>div>ul>li:nth-child(2){color: #de6843;}




#house_info>div.row{height: 50px;border-bottom: 1px solid #dcdcdc;line-height: 50px;}
.text{border: 1px solid;padding: 1px 5px;}
.text-orange{color: orange;border-color: orange;}
.text-blue{color: blue;border-color: blue;}
.text-green{color: green;border-color: green;}